/data/config.pl
/data/config3.pl
/data/docker-pg
/data/icons/icons.css
/data/log/
/data/multi.pid
/data/passwords.dat
/elm3/elm-stuff/
/elm3/Lib/Gen.elm
/static/f/js/
/static/f/icons.png
/static/f/icons.opt.png
/static/f/vndb.js
/static/f/vndb.min.js
/static/f/vndb.min.js.gz
/static/feeds/
/static/s/*/style.css
/static/s/*/style.min.css
/static/s/*/style.min.css.gz
/static/s/*/boxbg.png
/static/v3/elm.js
/static/v3/elm-opt.js
/static/v3/min.js
/static/v3/min.js.gz
/static/v3/min.css
/static/v3/min.css.gz
/static/v3/style.css
/static/ch
/static/cv
/static/sf
/static/st
/static/robots.txt
/static/api
/util/sql/editfunc.sql
/www/
*.swp
