.container {
  width: 100%;
  padding: 0 15px;
  margin: 0 auto;
}

.row {
  margin: 0 -15px;
  display: flex;
  flex-wrap: wrap;
}

.row--compact {
  margin: 0 -5px;
}

.row--ai-center {
  align-items: center;
}

.col, .col-sm, .col-md, .col-lg, .col-xl, .col-xxl {
  padding-left: 15px;
  padding-right: 15px;
  width: 100%;
  min-width: 0;
}
.row--compact .col, .row--compact .col-sm, .row--compact .col-md,
.row--compact .col-lg, .row--compact .col-xl, .row--compact .col-xxl {
  padding-left: 5px;
  padding-right: 5px;
}

.col { flex: 1; }
.col--2 { flex: 2; }
.col--3 { flex: 3; }
.col--4 { flex: 4; }

.col--auto { flex: 0 0 auto; width: auto; }

@media (min-width: 576px) {
  /* .container { max-width: 540px; } */
  .col-sm {
    flex: 1;
  }
  .col-sm--2 { flex: 2; }
  .col-sm--3 { flex: 3; }
  .col-sm--4 { flex: 4; }
  .col-sm--auto { flex: 0 0 auto; width: auto; }
  .d-sm-block { display: block; }
  .d-sm-none { display: none; }
  .text-sm-right { text-align: right; }
}
@media (min-width: 768px) {
  /* .container { max-width: 720px; } */
  .col-md {
    flex: 1;
  }
  .col-md--2 { flex: 2; }
  .col-md--3 { flex: 3; }
  .col-md--4 { flex: 4; }
  .col-md--auto { flex: 0 0 auto; width: auto; }
  .d-md-block { display: block; }
  .d-md-none { display: none; }
}
@media (min-width: 992px) {
  .container { max-width: 960px; }
  .container--narrow { max-width: 912px; }
  .col-lg {
    flex: 1;
  }
  .col-lg--2 { flex: 2; }
  .col-lg--3 { flex: 3; }
  .col-lg--4 { flex: 4; }
  .col-lg--auto { flex: 0 0 auto; width: auto; }
  .d-lg-block { display: block; }
  .d-lg-none { display: none; }
}
@media (min-width: 1200px) {
  .container { max-width: 1140px; }
  .container--narrow { max-width: 912px; }
  .col-xl {
    flex: 1;
  }
  .col-xl--2 { flex: 2; }
  .col-xl--3 { flex: 3; }
  .col-xl--4 { flex: 4; }
  .col-xl--auto { flex: 0 0 auto; width: auto; }
  .d-xl-block { display: block; }
  .d-xl-none { display: none; }
}
@media (min-width: 1360px) {
  /* .container { max-width: 1300px; } */
  .col-xxl {
    flex: 1;
  }
  .col-xxl--2 { flex: 2; }
  .col-xxl--3 { flex: 3; }
  .col-xxl--4 { flex: 4; }
  .col-xxl--auto { flex: 0 0 auto; width: auto; }
  .d-xxl-block { display: block; }
  .d-xxl-none { display: none; }
}
